<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Compare Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <form method="POST">
        <input type="text" name="player1" placeholder="First player" required>
        <input type="text" name="player2" placeholder="Second player" required>
        <button type="submit">Compare</button>
    </form>

    {% if player1 and player2 %}

    <div class="comparison-container">

        <div class="player-card">
            <h2>{{ player1.name }}</h2>
            <p>Age: {{ player1.age }}</p>
            <p>Position: {{ player1.position }}</p>
            <p>Nationality: {{ player1.nationality }}</p>
            <p>Appearances: {{ player1.appearances }}</p>
            <p>Minutes: {{ player1.minutes }}</p>
            <p> Valuation Score:
                {% if player1.valuation_score > player2.valuation_score %}
                <strong>{{ player1.valuation_score }} - Higher</strong>
                {% else %}
                {{ player1.valuation_score }}
                {% endif %}
            </p>
            <p>
                Valuation Score:
                {% if player2.valuation_score > player1.valuation_score %}
                <strong>{{ player2.valuation_score }} - Higher</strong>
                {% else %}
                {{ player2.valuation_score }}
                {% endif %}
            </p>
            {% if player1.position == "Defender" %}
            <p>Tackles: {{ player1.tackles }}</p>
            <p>Interceptions: {{ player1.interceptions }}</p>
            <p>Duels Won: {{ player1.duels_won }}</p>

            {% elif player1.position == "Midfielder" %}
            <p>Passes: {{ player1.passes }}</p>
            <p>Key Passes: {{ player1.key_passes }}</p>
            <p>Pass Accuracy: {{ player1.pass_accuracy }}%</p>
            <p>Duels Won: {{ player1.duels_won }}</p>

            {% elif player1.position == "Attacker" %}
            <p>Goals: {{ player1.goals }}</p>
            <p>Assists: {{ player1.assists }}</p>
            {% endif %}
        </div>

        <div class="player-card">
            <h2>{{ player2.name }}</h2>
            <p>Age: {{ player2.age }}</p>
            <p>Position: {{ player2.position }}</p>
            <p>Nationality: {{ player2.nationality }}</p>
            <p>Appearances: {{ player2.appearances }}</p>
            <p>Minutes: {{ player2.minutes }}</p>
            <p>Valuation Score: {{ player2.valuation_score }}</p>

            {% if player2.position == "Defender" %}
            <p>Tackles: {{ player2.tackles }}</p>
            <p>Interceptions: {{ player2.interceptions }}</p>
            <p>Duels Won: {{ player2.duels_won }}</p>

            {% elif player2.position == "Midfielder" %}
            <p>Passes: {{ player2.passes }}</p>
            <p>Key Passes: {{ player2.key_passes }}</p>
            <p>Pass Accuracy: {{ player2.pass_accuracy }}%</p>
            <p>Duels Won: {{ player2.duels_won }}</p>

            {% elif player2.position == "Attacker" %}
            <p>Goals: {{ player2.goals }}</p>
            <p>Assists: {{ player2.assists }}</p>
            {% endif %}
        </div>

    </div>

    {% endif %}

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

</body>

</html>